{% extends 'base.html' %}
{% load static %}
{% block csslist %}
<link rel="stylesheet" href='{% static "mainApp/css/main.css" %}'>
{% endblock %}

{% block title %}메인{% endblock %}

{% block content %}

<div class="main-screen-board">
    <div class='main-screen-text'>
        <span>당신의 토마토는 어떤가요?<br><br>건강한가요?</span>
        <br><br><br>
        <div class="blank"></div>
        <div class="next_url"><a href="{% url 'tomato_disease_recognition_app:tomato_disease_recognition' %}">지금 알아보러가기</a></div>
    </div>
</div>


{% endblock %}