{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% endblock %}
{% block csslist %}
<link rel="stylesheet"   href='{% static "tomato_disease_info_app/css/info2.css" %}'>
{% endblock %}

{% block title %}토마토-사이트 설명{% endblock%}

{% block content %}

<div class="main_field" >
	<div class="content_field">
		<ul>

			<li>
				<ul>
					<li class="disease_title">
						<h4> 토마토질병인식</h4>
					</li>
				</ul>
				<ul>
					<li id=info1>
						<h3></h3>
						<h5>기능<h5>
					</li>
				</ul>
				<ul>
					<li class=article>
						사용자로 하여금 토마토의 사진을 촬영해 어떤 병해충을 가지고 있는지 판별할 수 있도록 한다.
					</li>
					<ul>
						<li class="disease_title">
							<h4> 토마토 가격예측</h4>
						</li>
					</ul>

				</ul>

				
                <ul>
					<li id=info1>
						<h3></h3>
						<h5>기능<h5>
					</li>
				</ul>
				<ul>
					<li class=article>
						사용자로 하여금 토마토의 사진을 촬영해 어떤 병해충을 가지고 있는지 판별할 수 있도록 한다.
					</li>
				</ul>
                
			</li>

			<li>
				<br><br>
				<h4>토마토 질병도감</h4>
                
                
                <ul>
					<li id=info1>
						<h3></h3>
						<h5>기능<h5>
					</li>
				</ul>
				<ul>
					<li class=article>
						사용자로 하여금 토마토의 사진을 촬영해 어떤 병해충을 가지고 있는지 판별할 수 있도록 한다.
					</li>
				</ul>
               </li>
		</ul>
	</div>



	<li>
		출처 : <a href=""></a>
	</li>

	</ul>
</div>
</div>

{% endblock %}